@model IPagedList<MovieReview.Models.MovieViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div>
    <form method="get" action="@Url.Action("Index")" data-movie-ajax="true" data-movie-target="#movieDiv">
        <input type="search" class="form-control has-success" name="SearchQuery">
        <br />
       
        <input type="submit" class="btn-primary" value="Search by Movie Name" />
    </form>
</div>

@*@using (Ajax.BeginForm(
    new AjaxOptions
    {
        HttpMethod = "get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "movieDiv"
    }))
{
    <input type="search" class="form-control has-success" name="SearchQuery">
    <br />
    <input type="submit" class="btn-primary" value="Search by Movie Name" />
}*@


@Html.Partial("_movies",Model)
