@model IEnumerable<MovieReview.Models.MovieReviews>
<table data-role="listview">
    <tr>
        <th>
            <label for="name" id="reviewernamelabel">Rev.Name</label> |
        </th>
        <th>
            <label for="name" id="reviewercommentslabel">Rev.Comment</label> |
        </th>
        <th>
            <label for="name" id="reviewerratinglabel">Rev.Rating</label> 
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewerComments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewerRating)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
               
            </td>
        </tr>
    }

</table>
